src/main/resources/wsdl/Products.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://adapter.gbm.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="Products" targetNamespace="http://adapter.gbm.net/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://adapter.gbm.net/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://adapter.gbm.net/" version="1.0">
            <xs:element name="customRestResponseDTO" type="tns:customRestResponseDTO"/>
            <xs:element name="getProducts" type="tns:getProducts"/>
            <xs:element name="getProductsResponse" type="tns:getProductsResponse"/>
            <xs:complexType name="getProducts">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                    <xs:element name="arg1" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getProductsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:customRestResponseDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="customRestResponseDTO">
                <xs:sequence>
                    <xs:element form="qualified" minOccurs="0" name="products">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="product" type="tns:productDTO"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element form="qualified" name="total" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="productDTO">
                <xs:sequence>
                    <xs:element form="qualified" minOccurs="0" name="details" type="tns:productDetailsDTO"/>
                    <xs:element form="qualified" name="discountPercentage" type="xs:double"/>
                    <xs:element form="qualified" name="id" type="xs:int"/>
                    <xs:element form="qualified" minOccurs="0" name="images">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="image" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element form="qualified" name="price" type="xs:double"/>
                    <xs:element form="qualified" name="rating" type="xs:double"/>
                    <xs:element form="qualified" minOccurs="0" name="stock" type="tns:productStockDTO"/>
                    <xs:element form="qualified" minOccurs="0" name="thumbnail" type="xs:string"/>
                    <xs:element form="qualified" minOccurs="0" name="title" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="productDetailsDTO">
                <xs:sequence>
                    <xs:element form="qualified" minOccurs="0" name="brand" type="xs:string"/>
                    <xs:element form="qualified" minOccurs="0" name="category" type="xs:string"/>
                    <xs:element form="qualified" minOccurs="0" name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="productStockDTO">
                <xs:sequence>
                    <xs:element form="qualified" name="quantity" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="jsonLocation">
                <xs:sequence/>
            </xs:complexType>
            <xs:element name="JsonProcessingException" type="tns:JsonProcessingException"/>
            <xs:complexType name="JsonProcessingException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="originalMessage" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                    <xs:element minOccurs="0" name="location" type="tns:jsonLocation"/>
                    <xs:element minOccurs="0" name="processor" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getProductsResponse">
        <wsdl:part element="tns:getProductsResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="JsonProcessingException">
        <wsdl:part element="tns:JsonProcessingException" name="JsonProcessingException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getProducts">
        <wsdl:part element="tns:getProducts" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ISoapAdapter">
        <wsdl:operation name="getProducts">
            <wsdl:input message="tns:getProducts" name="getProducts">
            </wsdl:input>
            <wsdl:output message="tns:getProductsResponse" name="getProductsResponse">
            </wsdl:output>
            <wsdl:fault message="tns:JsonProcessingException" name="JsonProcessingException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProductsSoapBinding" type="tns:ISoapAdapter">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getProducts">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getProducts">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getProductsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JsonProcessingException">
                <soap:fault name="JsonProcessingException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Products">
        <wsdl:port binding="tns:ProductsSoapBinding" name="ISoapAdapterPort">
            <soap:address location="http://localhost:8888/gbm-labs/products"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>